* {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background: #04091e;
  font-family: system-ui;
  color: #04091e;
  /* text-align: center; */
}

/* horizontal scroll */

#horizontal-scoll {
  padding: 200px 0;
  background-color: #fff;
}

.horizontal-scoll-wrapper {
  overflow: hidden;
}

.horizontal {
  display: flex;
  align-items: center;
  height: 100%;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 50px;
}

.horizontal > div:first-child {
  padding: 0 5px 0 15px;
}

.horizontal > div:last-child {
  padding: 0 15px 0 5px;
}

.horizontal > div:nth-child(2) .card,
.horizontal > div:nth-child(3) .card {
  height: 425px;
  width: 800px;
}

.horizontal .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 900px;
  height: 525px;
  padding: 50px 40px;
  border-radius: 18px;
  color: #1a1a1a;
  background-color: bisque;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
