@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **************NAVBAR************** */

body {
    background-color: #dbdbdb;
}

.no-scroll {
  overflow: hidden;
}

/* **************NAVBAR************** */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 60px;
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 199;
  background-color: white; /* Add background color to ensure visibility */
}

.navbar.hidden {
  top: -100px; /* Adjust this value according to the height of your navbar */
}

  
  .logo {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
    gap: 38px;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.nav-links a {
  text-decoration: none; 
  color: #263238; 
  transition: border-bottom 0.3s ease; 
}

.nav-links a:hover {
  border-bottom: 2px solid #D4D4D4; 
}



  .cta-btn {
    display: flex;
    align-items: center;
    padding: 13px 25px;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 0.9rem;
    font-family: "DM Sans", sans-serif;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border-style: none;
    cursor: pointer;
  }
  
  .cta-btn span {
    padding-left: 10px;
  }

  /* FOTTER */

.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 100px 100px 0px 100px !important;
    /* align-items: center; */
    justify-content: space-between;
    gap: 100px;
  }
  
  .top-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .footer-logo {
    padding-right: 80px;
  }
  
  .footer-quick-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 80px;
  }
  
  .footer-connect {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-top: 50px; */
  }
  
  .social-logos {
    display: flex;
    gap: 15px;
  }
  
  .bottom-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .newsletter-label {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding-right: 60px;
  }
  
  .newsletter-input {
    flex: 50%;
    padding-top: 40px;
  }
  
  .footer-co-name {
    font-family: "DM Serif Display", serif;
  
    font-weight: 500;
    font-style: italic;
    font-size: 3rem;
  }
  
  .footer-tagline {
    font-family: "DM Sans", sans-serif;
  
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  
  .footer-quick-label,
  .connect-label {
    font-family: "DM Sans", sans-serif;
  
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }
  
  .footer-quick-nav span:nth-last-child(-n + 3) {
    font-family: "DM Sans", sans-serif;
  
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .footer-quick-nav a {
    text-decoration: none;
  }
  .newsletter-label span:first-child {
    font-family: "DM Sans", sans-serif;
  
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
  }
  
  .newsletter-label span:last-child {
    font-family: "DM Sans", sans-serif;
  
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 460px;
  }
  
.email-foot {
    border: none; /* Remove default borders */
    border-bottom: 1px solid black;
    outline: none; /* Remove outline */
    color: #1a1a1a;
    width: 350px;
    padding-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    background-color: transparent;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
  }
  
.email-foot::placeholder {
    font-family: "DM Sans", sans-serif;
  
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
  }
  
  .subs-btn {
    display: flex;
    align-items: center;
    padding: 13px 40px;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 1.1rem;
    font-family: "DM Sans", sans-serif;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border-style: none;
    margin-top: 20px;
  }
  
  .half-cut {
    width: 100%;
  }



.section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    height: 95vh;
    width: 100%;
    z-index: -2;
    overflow: hidden;
}

div.section-one > div:first-child {
    position: relative;
    /* top: -100px */
}


.services-title {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    color: #1A1A1A;
}

.services-desc {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #1A1A1A;
    padding-top: 20px;
}

.services-btn {
    display: flex;
    align-items: center;
    padding: 13px 25px;  
    margin-top: 30px;
    background-color: #1A1A1A;
    color: #fff;
    font-size: 1.1rem;
    font-family: "DM Sans", sans-serif;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border-style: none;
}

.section-one img {
    -webkit-user-drag: none;
    mix-blend-mode: multiply;
    width: 900px;
}


/* Section2 */

  .section-top {
    position: relative;
    display: flex;
    justify-content: space-around; /* Center horizontally */
    padding-right: 50px;
    padding-left: 50px;
    align-items: center; /* Center vertically */
    /* width: 90%; */
    height: 100px;
    background-color: #1A1A1A;
    color: #fff;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  /* letter-spacing: 2em; */
  text-transform: uppercase;
  font-style: normal;

    
    /* clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%); */
    font-size: 2.5rem;
    margin: 30px auto; /* Add this line */;
}


  /* .section-top div {
    width: 90%;
  } */

  /* .top-hr {
    width: 85%;
    margin: 20px 0px;
    color: #1a1a1a;
    background-color: #1a1a1a;
  } */

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.left {
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    padding: 50px;
    font-size: 20px;

}

.sticky {
/* flex: 1; */
    position: sticky;
    top: 40vh;
    overflow: hidden;
    padding-top: 30px;
    }

    .left {
        flex: 1;
        z-index: 99;

    }
    
    
    .right {
        z-index: 9;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    gap: 50px;
    }

.counter {
    display: inline;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: #1A1A1A;
    padding: 9px 30px;
    border: 2px solid #857f7f;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.stick-heading {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    color: #1A1A1A;
    margin-top: 20px;
}

.stick-subheading {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #1A1A1A;
    margin-top: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 400px;
    width: 70%;
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.15);
}

.card-head {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 2.1rem;
    color: #1A1A1A;
}

.card-sub-head {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #736868;
    padding-top: 20px;

}

.card img {
    height: 75px;
    width: 75px;
}

/* .string {
    height: 200px;
    width: 99vw;
} */
































@media (max-width: 1440px) {
    .footer {
      padding: 100px 50px 0px 50px !important;
    }
    iframe {
      display: none;
    }
  }



@media only screen and (max-width: 1400px) {
    .card {
        width: 90%;
    }
}

  @media screen and (min-width: 830px) and (max-width: 960px) {
    .navbar {
      padding: 16px 40px;
    }
  }


@media (max-width: 960px) {
    .nav-links {
        gap: 25px;
    }

    .left {
        padding: 32px;
    }

    .right {
        padding-right: 32px;
    }
    .stick-heading {
        font-size: 2rem;
    }

    .stick-subheading {
        margin-top: 10px;
    }
    
    .card-head {
        font-size: 1.8rem;
    }
    .card-sub-head {
        font-size: 1rem;
    }
}

@media (max-width: 830px) {
    .navbar {
      display: none;
    }
    
    
      #mains {
        height: 100%;
        width: 100%;
        background-color: #263238;
    }
    
    #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 50px;
        color: #fff;
    }
    
    #nav h2 {
      font-family: "DM Serif Display", serif;
      font-weight: 300;
      font-style: italic;
      font-size: 1.5rem;
        font-weight: 800;
    }

    #nav a {
      text-decoration: none;
      color: #fff;
    }
    
    #nav i {
        font-size: 30px;
        font-weight: 800;
        cursor: pointer;
    }
    
    #full {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.555);
        top: -100%;
        left: 0;
        backdrop-filter: blur(18px);
        padding: 160px 50px;
        z-index: 999;
    }
    #full a {
      font-family: "DM Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      text-decoration: none;
      color: #263238;
      font-size: 5rem;
      font-weight: 500;
      /* margin-bottom: 200px; */
      /* padding-bottom: 50px; */
      position: relative; /* Add this line */
    }
    
    #full a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #263238;
      transition: width 0.3s ease; /* Add transition for width */
    }
    
    #full a:hover::after {
      width: 100%; /* Expand the underline from left to right */
    }
    
    
    #full i {
        position: absolute;
        top: 20px;
        right: 24px;
        font-weight: 500;
        font-size: 45px;
        cursor: pointer;
    }
      
      .nav-links-mob {
        display: flex !important;
        flex-direction: column;
        font-size: 1rem;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        gap: 20px;
        margin-top: 30px;
      }
    
  }

  @media (min-width: 830px) {
    .menu-btn {
        display: none;
    }

    .menu {
        display: none;
    }
}



@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .left {
        /* background-color: #f3f3f3; */
        
    }
    .left, .right {
        flex: none; 
        width: 100%; 
        align-items: center !important;
        padding: 16px;
    }

    .section-top {
        display: none;
    }
    .right {
        /* margin-top: 50px; */
    }
    .sticky {
        padding-top: 15px;
        display: flex;
        align-items: center;
    }

    .counter {
        display: none;
    }

    .stick-heading {
        margin: 0 16px;
    }
    .stick-subheading {
        display: none;
    }
}


@media (min-width: 830px) {
    #mains {
      display: none;
    }
  }

/* .section3 {
    margin-top: 150px;
} */

@media only screen and (max-width: 600px) {
    #nav {
        padding: 12px 24px;
      }
      .navbar {
        padding: 16px 32px;
      }
  
      #full a {
        font-weight: 600;
        font-size: 4rem;
      }
    .section-one {
        padding: 36px;
    }
    .services-title {
        font-size: 2rem;
    }
    .services-desc {
        font-size: 1.1rem;
    }
    .services-btn {
        padding: 10px 18px;
        font-size: 1rem;
    }
    .footer {
        padding: 100px 32px 0px 32px !important;
      }

      .newsletter-label {
        padding-right: 0px;
        width: 300px;
        margin-bottom: 20px;
      }
    
      .newsletter-label span:first-child {
        padding-bottom: 10px;
      }
      .newsletter-label span:last-child {
        font-size: 0.9rem;
        font-weight: 200;
        width: 330px;
      }
}

@media (max-width: 470px) {
    #full {
      padding: 160px 24px;
  }

  .footer-logo {
    padding-right: 0px;
  }

  .newsletter-label span:first-child {
    font-size: 1.5rem;
  }
  .newsletter-label span:last-child {
    font-size: 0.8rem;
  }
  .email-foot {
    width: 290px;
  }
  .newsletter-label span:last-child {
    font-size: 0.9rem;
    font-weight: 200;
    width: 250px;
  }
  .icon-shape {
    width: 25px;
    height: 25px;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 425px) {
    .card-head {
        font-size: 1.5rem !important;
    }
}


@media (max-width: 375px) {
    .icon .icon-shape::before {
      width: 10px;
      height: 1px;
    }
    .icon .icon-shape::after {
      width: 1px;
      height: 10px;
    }
    .email-foot {
      width: 90%;
    }
  }



@media (max-width: 320px) {
  #full a {
    font-weight: 600;
    font-size: 2rem;
  }
}