@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.no-scroll {
  overflow: hidden;
}

/* **************NAVBAR************** */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 60px;
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: white; /* Add background color to ensure visibility */
}

.navbar.hidden {
  top: -100px; /* Adjust this value according to the height of your navbar */
}

  
  .logo {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .logo a {
    text-decoration: none;
    color: #000;
  }

  .nav-links {
    display: flex;
    gap: 38px;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.nav-links a {
  text-decoration: none; 
  color: #263238; 
  transition: border-bottom 0.3s ease; 
}

.nav-links a:hover {
  border-bottom: 2px solid #D4D4D4; 
}
.cta-btn {
  display: flex;
  align-items: center;
  padding: 13px 25px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-style: none;
  cursor: pointer;
}

.cta-btn span {
  padding-left: 10px;
}

/* ***************HERO****************** */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  /* background-color: blueviolet; */
}

.One-Text {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
}

hr {
  width: 180px;
  margin-top: 5px;
}

.hero-text {
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 25px;
}

.hero-subText {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  width: 330px;
  margin-top: 15px;
}

.hero .cta-btn-sec1 {
  margin-top: 64px;
}

.cta-btn-sec1 {
  display: flex;
  align-items: center;
  padding: 13px 25px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-style: none;
  cursor: pointer;
}

.cta-btn-sec1 span {
  padding-left: 10px;
}

.scroll-D {
  position: absolute;
  left: 0;
  bottom: 60px;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  color: #0000004b;
}

.scroll-D img {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  margin-right: 5px;
  margin-top: 4px;
}

a.scroll-D {
  scroll-behavior: smooth;
}

/* Section 2 */

.Section-two {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 150px;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  padding: 100px 0px;
  /* background-color: #ac4646; */
  /* text-align: center; */
}

.section-card-wrapper {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-around;
  margin-top: 100px;
}

.big-subhead {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  padding: 30px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.section-two-img {
  height: 80px;
  width: 80px;
}



.two-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 10px;
  /* padding: 30px; */
  /* border: 30px; */
  margin: 30px;
}

.section-two-head {
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
}

.section-two-subhead {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  /* margin-bottom: 30px; */
}

.mission {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  margin: 0 auto;
  /* margin-bottom: 30px; */
}

.Section-two hr {
  margin: 0 auto;
  width: 180px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.small-head {
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  margin: 0 auto;
}

.mid-head {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 7rem;
}

.big-head {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 3.5rem;
}

.Section-two sup {
  font-family: "DM Sans", sans-serif;
  /* font-size: 2.7rem; */
  font-style: normal;
  font-weight: 200;
}

/* SECTION 3 */

/* horizontal scroll */

#horizontal-scoll {
  padding: 200px 0;
  background-color: #f3f3f3;
}

.horizontal-scoll-wrapper {
  overflow: hidden;
}

.section-three img {
  height: 90px;
}

.title {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2.5rem;
  /* letter-spacing: 2px; */
  font-style: normal;
}

.description {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  color: #969393;
  margin-top: 25px;
  /* letter-spacing: 1px; */
}

.horizontal {
  display: flex;
  align-items: center;
  height: 100%;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 50px;
}

.horizontal > div:first-child {
  padding: 0 5px 0 15px;
}

.horizontal > div:last-child {
  padding: 0 15px 0 5px;
}

/* .horizontal > div:nth-child(2) .card-lap,
.horizontal > div:nth-child(3) .card-lap {
  height: 425px;
  width: 800px;
} */

.horizontal .card-lap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 900px;
  height: 525px;
  padding: 70px 60px;
  border-radius: 18px;
  color: #1a1a1a;
  background-color: #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

/* SECTION 4 */





/* Section5 */

.section-five {
  height: 100vh;
  display: none;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.small-head-five {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
}

.big-head-five {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 3rem;
  /* color: #e1e1e1; */
}



.form-img {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.section-five img {
  width: 500px;
  height: 450px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.form {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-left input,
textarea {
  padding: 10px;
  background-color: #e1e2e3;
  border: none;
  border-radius: 10px;

  font-family: "DM Sans", sans-serif;

  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  width: 300px;
  resize: none;
}

.form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quick-btn {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.section-six {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
/* align-items: center; */
  padding: 100px;
  height: 100%;

}

.left-six img {
  height: 50px;
  width: 50px;
}

.six-main-head {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2rem;
  font-style: normal;
}

.six-sub-head {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  color: #969393;
}

.card-border {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0px;
  border-bottom: 1px solid #e6c9c9;
  /* background-color: #0000004b; */
}

.left-six {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40vw;
}
.right-six {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40vw;
}
.right-head-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right-six img {
  height: 450px;
  width: 450px;
}

.why {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  color: #34cccd;
}

.right-main-head {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
}

.right-sub-head {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #969393;
  font-size: 1.2rem;
  font-style: normal;
}

/* FAQ */

.faq {
  display: flex;
  flex-direction: row;
}

.left-Head-faq {
  flex: 0.3; /* This will make the left-Head-faq div take up 30% of the parent width */
  padding: 1rem;
  /* border: 1px solid #ddd;  */
  padding: 50px;
}

.faq-know-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 13px 25px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-style: none;
}

.right-Head-faq {
  flex: 0.7; /* This will make the right-Head-faq div take up 70% of the parent width */
  padding: 1rem;
  /* border: 1px solid #ddd;  */
  padding: 50px;
}

.right-Head-faq {
  font-family: "DM Sans", sans-serif;
  /* padding-right: 50px; */
}

.left-Head-faq {
  /* padding-left: 50px; */
}

.fa-faq {
  font-family: "DM Sans", sans-serif;

  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
}

.fq-faq {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  padding: 0;
}
p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 2;
  font-weight: 200;
}
img {
  display: block;
  padding: 0;
  margin: 0;
}

/* >>> FAQ STYLES <<< */
.faq_container {
  border-bottom: 2px solid #ddd;
}
.faq_question {
  font-size: 1.2rem;
  /* font-weight: 400; */
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.answer {
  padding: 0 10px 20px;
  line-height: 1.5rem;
}
.fqa_headline_container h2 span {
  font-weight: 500;
}
.faq_question-text h3 {
  /* font-size: 22px;  */
}

.icon.active {
  background: transparent;
  border: 2px solid #fff;
}
.icon:hover {
  cursor: pointer;
}
.icon-shape {
  position: relative;
  width: 50px;
  height: 50px;
}
.icon .icon-shape::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background: #1a1a1a;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 20px;
  background: #1a1a1a;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape.active::before {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.5s ease;
}
.icon .icon-shape.active::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.5s ease;
}

/* ===> SOME SUGGESTIONS ON USING THE CODE <=== */
/* There are 2 Main containers in a single FAQ Container - faq_question & answercont */
/* You can make a div inside these container to add content and styling purposes */

/* CATEGORIES************************************* */

.category {
  display: flex;
}

.left-Head-category {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  flex: 70%;
}

.right-Head-category {
  flex: 30%;
  padding: 1rem; /* Add some padding for better visual separation */
  /* border: 1px solid #ddd; Optional: Add a border for clarity */
}

.left-Head-category,
.right-Head-category {
  padding: 50px;
}

.category-one {
  background-color: #e4e4e4;
  padding: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.category-text {
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
}

/* .ca-category {
    text-align: right;
} */

/* FOTTER */

.footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 100px 100px 0px 100px !important;
  /* align-items: center; */
  justify-content: space-between;
  gap: 100px;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-logo {
  padding-right: 80px;
}

.footer-quick-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 80px;
}

.footer-quick-nav a {
  text-decoration: none;
}

.footer-connect {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-top: 50px; */
}

.social-logos {
  display: flex;
  gap: 15px;
}

.bottom-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.newsletter-label {
  display: flex;
  flex-direction: column;
  flex: 50%;
  padding-right: 60px;
}

.newsletter-input {
  flex: 50%;
  padding-top: 40px;
}

.footer-co-name {
  font-family: "DM Serif Display", serif;

  font-weight: 500;
  font-style: italic;
  font-size: 3rem;
}

.footer-tagline {
  font-family: "DM Sans", sans-serif;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.footer-quick-label,
.connect-label {
  font-family: "DM Sans", sans-serif;

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.footer-quick-nav span:nth-last-child(-n + 3) {
  font-family: "DM Sans", sans-serif;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.newsletter-label span:first-child {
  font-family: "DM Sans", sans-serif;

  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}

.newsletter-label span:last-child {
  font-family: "DM Sans", sans-serif;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 460px;
}

input[type="email"] {
  border: none; /* Remove default borders */
  border-bottom: 1px solid black;
  outline: none; /* Remove outline */
  color: #1a1a1a;
  width: 350px;
  padding-bottom: 10px;
  font-family: "DM Sans", sans-serif;
  background-color: transparent;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

input[type="email"]::placeholder {
  font-family: "DM Sans", sans-serif;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.subs-btn {
  display: flex;
  align-items: center;
  padding: 13px 40px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 1.1rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-style: none;
  margin-top: 20px;
}

.half-cut {
  width: 100%;
}

@media (max-width: 1440px) {
  .footer {
    padding: 100px 50px 0px 50px !important;
  }
}

@media (max-width: 1240px) {
  .hero-text {
    font-size: 3rem;
  }
  .cta-btn {
    padding: 10px 17px;
  }

  .big-head {
    font-size: 2.6rem;
    padding: 0 30px;
  }

  .section-six {
    padding: 48px;
  }

  .right-six img {
    height: 300px;
    width: 300px;
  }

  .small-head {
    font-size: 1.8rem;
  }

  .normal-text,
  .italix-text {
    font-size: 4rem;
  }

  .fa-faq {
    font-size: 1.8rem;
  }

  .fq-faq {
    font-size: 2.2rem;
  }
  .section-four {
    display: none;
  }
}

@media screen and (min-width: 830px) and (max-width: 960px) {
  .navbar {
    padding: 16px 40px;
  }
}

@media (max-width: 960px) {
  .hero-text {
    font-size: 2.5rem;
  }

  .nav-links {
    gap: 25px;
  }

  .big-head {
    /* margin-top: 20px; */
  }

  .faq {
    flex-direction: column;
    align-items: center;
  }

  .left-Head-faq,
  .right-Head-faq {
    width: 100%; /* Take up the full width */
    display: flex;
    /* flex-direction: column; */
  }

  .left-Head-faq {
    justify-content: space-between;
  }

  .category {
    flex-direction: column;
  }
}

@media (max-width: 830px) {
.navbar {
  display: none;
}

  .hero {
    align-items: flex-start;
    padding-left: 60px;
    text-align: left;
  }
  .hero-text {
    width: 350px;
  }
  hr {
    width: 130px;
    margin-top: 5px;
  }
  .scroll-D {
    left: auto !important;
    bottom: auto !important;
    right: -30px !important;
  }

  .section-six {
    height: 100%;
    flex-direction: column-reverse;
  }
  .right-six, .left-six {
    width: 100%;
  }

  #mains {
    height: 100%;
    width: 100%;
    background-color: #263238;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 50px;
    color: #fff;
}

#nav h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 1.5rem;
    font-weight: 800;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

#nav i {
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.555);
    top: -100%;
    left: 0;
    backdrop-filter: blur(18px);
    padding: 160px 50px;
    z-index: 999;
}
#full a {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: #263238;
  font-size: 5rem;
  font-weight: 500;
  /* margin-bottom: 200px; */
  /* padding-bottom: 3px; */
  position: relative; /* Add this line */
}

#full a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #263238;
  transition: width 0.3s ease; /* Add transition for width */
}

#full a:hover::after {
  width: 100%; /* Expand the underline from left to right */
}


#full i {
    position: absolute;
    top: 20px;
    right: 24px;
    font-weight: 500;
    font-size: 45px;
    cursor: pointer;
}
  /* .menu {
    position: fixed;
    background-color: blueviolet !important;
    top: -70vh; 
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: white;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
  } */

  /* .menu.open {
    top: 0; 
  } */

  /* .close-btn {
    position: absolute;
    right: 0 !important;
    margin-right: 60px;
    margin-top: 16px;
  }
  .mob-logo,
  .nav-links-mob,
  .cta-btn-mob {
    padding-top: 16px;
    margin-left: 60px;
  } */

  .nav-links-mob {
    display: flex !important;
    flex-direction: column;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    gap: 20px;
    margin-top: 30px;
  }

  /* .cta-btn-mob {
    display: flex;
    align-items: center;
    padding: 13px 25px;
    margin-top: 30px;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 0.9rem;
    font-family: "DM Sans", sans-serif;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border-style: none;
  }

  .cta-btn-mob span {
    padding-left: 10px;
  } */

  .normal-text,
  .italix-text {
    font-size: 3rem;
  }

  #horizontal-scoll {
    display: none;
  }

  .card {
    position: sticky;
    top: 0;
  }

  .card__inner {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    will-change: transform;
    background: white;
    height: 500px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
    transform-origin: center top;
  }

  .card-three {
    margin-bottom: 50px;
    border-bottom: 50px;
    padding-bottom: 70px;
    position: relative;
    bottom: 70px;
  }

  .cards {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(var(--cards-count), var(--card-height));
    gap: 40px 0;
    margin-bottom: 120px;
  }

  .card__content {
    /* padding: 24px; */
    display: flex;
    flex-direction: column;
  }

  .card__title {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2.5rem;
    /* letter-spacing: 2px; */
    font-style: normal;
    /* padding: 0;
    margin: 0;
    font-size: 60px;
    font-weight: 600; */
    /* color: #16263a; */
  }

  .card__description {
    /* line-height: 1.4;
    font-size: 24px; */
    /* color: #16263a; */
    font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  color: #969393;
  margin-top: 25px;
  line-height: 1.3;
  }

  .space {
    height: 90vh;
  }

  .space--small {
    height: 40vh;
  }

  @media (max-width: 600px) {
    #nav {
      padding: 12px 24px;
    }
    .navbar {
      padding: 16px 32px;
    }

    #full a {
      font-weight: 600;
      font-size: 4rem;
    }

    .hero {
      padding-left: 24px !important;
    }

    .hero-text {
      font-size: 2rem;
      width: 280px;
    }

    .hero-subText {
      width: 300px;
    }

    .left-Head-faq {
      padding: 32px;
    }
    .right-Head-faq {
      padding: 32px;
    }

    .left-Head-category,
    .right-Head-category {
      padding: 32px;
    }

    .section-six {
      padding: 32px;
    }

    .left-six img {
      height: 35px;
      width: 35px;
    }

    .right-main-head {
      font-size: 2.2rem;
    }

    .six-main-head {
      font-size: 1.5rem;
    }

    .right-six img {
      /* text-align: center; */
      /* margin: 0 auto; */
      position: relative;
      left: -30px !important;
      height: 240px;
      width: 240px;
    }

    .footer {
      padding: 100px 32px 0px 32px !important;
    }

    .cards {
      max-width: 90%;
    }
    .card__title {
      font-size: 32px;
    }

    .card__description {
      font-size: 16px;
    }

    .card__content {
      /* padding: 30px 20p; */
    }
    .category-text {
      font-size: 1.2rem;
    }
    .category-one {
      padding: 20px;
    }
    .left-Head-category {
      gap: 15px;
    }
  }

  .newsletter-label {
    padding-right: 0px;
    width: 300px;
    margin-bottom: 20px;
  }

  .newsletter-label span:first-child {
    padding-bottom: 10px;
  }
  .newsletter-label span:last-child {
    font-size: 0.9rem;
    font-weight: 200;
    width: 330px;
  }

  .faq_question {
    font-size: 1rem;
  }
}

@media (min-width: 830px) {
  /* .menu-btn {
    display: none;
  }

  .menu {
    display: none;
  } */
  .cards {
    display: none;
  }
  #mains {
    display: none;
  }
}

@media (max-width: 470px) {
  #full {
    padding: 160px 24px;
}
  .hero-text {
    font-size: 1.8rem;
  }

  .left-Head-category {
    display: none;
  }
  .small-head {
    padding: 0 20px;
    font-size: 1.2rem;
  }
  .big-head {
    font-size: 2rem;
  }
  /* .Section-two img {
    width: 230px !important;
  } */

  .footer-logo {
    padding-right: 0px;
  }

  .newsletter-label span:first-child {
    font-size: 1.5rem;
  }
  .newsletter-label span:last-child {
    font-size: 0.8rem;
  }
  input[type="email"] {
    width: 290px;
  }
  .newsletter-label span:last-child {
    font-size: 0.9rem;
    font-weight: 200;
    width: 250px;
  }
  .icon-shape {
    width: 25px;
    height: 25px;
    padding-left: 40px;
  }
  .faq_question {
    padding-right: 0px;
  }
}

@media (max-width: 425px) {
  #full a {
    font-weight: 600;
    font-size: 3rem;
  }
  .fa-faq {
    font-size: 1.2rem;
  }
  .fq-faq {
    font-size: 1.5rem;
  }
  .faq-know-btn {
    margin-top: 5px;
    padding: 13px 20px;
  }
  .footer-co-name {
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) {
  .hero-text {
    font-size: 1.5rem;
  }
  .hero-subText {
    font-size: 0.9rem;
    width: 230px;
    font-weight: 200;
  }
  .small-head {
    font-size: 1.1rem;
  }
  .big-head {
    font-size: 1.7rem;
  }
  .faq_question-text h3 {
    font-size: 1rem !important;
  }
  p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
  }

  .right-main-head {
    font-size: 1.7rem;
  }

  .right-sub-head {
    font-size: 1rem;
  }
  /* .icon-shape {
    width: 5px !important;
    height: 5px !important;
  } */

  .icon .icon-shape::before {
    width: 10px;
    height: 1px;
  }
  .icon .icon-shape::after {
    width: 1px;
    height: 10px;
  }
  input[type="email"] {
    width: 90%;
  }
}

@media (max-width: 320px) {
  #full a {
    font-weight: 600;
    font-size: 2rem;
  }
}